figure {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
.notification-popover-item {
    position: relative;
}
.profile-img {
    display: inline-block;
    overflow: hidden;
    width: 48px;
    height: 48px;
    position: absolute;
    margin: 13px 12px;
    border-radius: 3px;
    z-index: 2;
    background-size: 100%;
}
.profile-img img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    vertical-align: top;
}
.notification-item-content {
    height: 76px;
    padding: 13px 8px 13px 72px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    font-size: 13px;
	line-height: 1.4;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.notification-item-title{
	margin: 0px;
	font-size: 16px;
} 
.notification-item-content .notification-item-text {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
    width: 245px;
    color: #444;
}
.middle-box {
    padding-top: 80px;
}
.content-header h1{
    display: initial;
}

.right-side > .content-header > .breadcrumb {
    top: 0;
}
.content-header button{
    /*float: right!important;*/
}

.table-responsive {
     overflow-x: hidden;
}